.nav-main{background-color:#ff5866; }

.call_to_action_black{
   background:linear-gradient(315deg, #ff5866, #ff5866, #ff5866, #ff5866);}

body{ 

background-color:#06070b;  06070b  ff5866 
/*
background-image: url(bg.jpg); 

background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: darken;
  margin: 0 auto; */
  }

.escondebotao{display:none!important}
.escondepreco{display:none!important}


.pricing {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: auto;
  margin-bottom: 15px;
  z-index: 2;
  }
.pricing-plan {
  flex: 1;
  background-color: #1f262c;
  padding: 30px;
  border-radius: 6px;
  color: #fff;
  text-align: left;
  margin-top: -80px;
}

li { text-align: left; }

.price { float: right; }

.valortotal { 
    float: right;
    font-size: 22px;
     padding-right: 0px; }

.total { 
margin-top: 225px; 
font-size: 22px;
}



ul { clear: both; }

ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

ul li:last-child {
  border-bottom: none;
    content: "none";
  color: #e30046;
}

@media (max-width: 768px) {
  .pricing {
    display: block;
  }
}

.pricing-plan h2 {
  margin-top: 0;
  padding-bottom: 10px;
  border-bottom: 2px solid #ff5866;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}
.pricing-plan p {
  margin-top: 0;
}
.pricing-plan p span {
  font-size: 33px;
  float: left;
  padding: 20px 0px 25px 0px;
}
.pricing-plan ul {
  margin: 0 0 0px;
  padding-left: 16px;
  list-style: none;
  line-height: 1.8;
  color: #b5b5b5;
}
/*
.pricing-plan ul li::before {
  content: "•";
  color: #e30046;
  display: inline-block;
  width: 20px;
  margin-left: -15px;
  position: relative;
  top: 4px;
  font-size: 26px;
  line-height: 0;
  */

.pricing-plan ul li::before {
  /* content: "•"; */
  content: " \2714";
  color: #ff5866; /*e30046*/
  display: inline-block;
  width: 20px;
  margin-left: -15px;
  position: relative;
  top: 0px;
  font-size: 16px;
  line-height: 0;

}
.pricing-plan a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  background: #ff5866;
  border: 2px solid #ff5866;
  border-radius: 6px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}
.pricing-plan a:hover {
  background-color: #1f262c;
}


.inativo {
  
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 10px;
    font-family:'Roboto Condensed', 'Arial', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    position: relative;
    border-radius: 6px;
    color: #fff;
    /* background: linear-gradient(268deg, #07193d, #072324, #07193d, #072324); */
     background: linear-gradient(to right,#ff5866,#ff5866);
    background-size: 500% 500%;
    cursor: default;
    opacity: 0.1;
    z-index: -1;

}

.animacao-botao1 {

margin-top: -15px;
z-index: 10;
text-decoration: none;
padding:20px 10px;
width:100%;
    display:block;
    box-sizing:border-box;
    text-transform:uppercase;
  text-align:center;font-size:24px;line-height:36px;font-weight:bold;
    font-family:'Roboto Condensed', 'Arial', sans-serif;color:#fff;border-radius:6px;

box-shadow: 0 0 0 0 #fff;
background: linear-gradient(to right,#ff5866,#ff5866);

/*background:  linear-gradient(30deg, #00ff93, #006eff);*/

-webkit-font-smoothing: antialiased;


position: relative;
width: 100%;

background-size:cover;
background-repeat: no-repeat;
cursor: pointer;
-webkit-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
-moz-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
-ms-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
}
.animacao-botao1:hover 
{
    background: linear-gradient(to right,#ff5866,#ff5866);
-webkit-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
-moz-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
-ms-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}