body { 

background-image: url(../img/bk.jpg); 
/* escurece bg background-color: rgba(0, 0, 0, 0.6); */
background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: darken;
  margin: 0 auto;


  }

.container {
  margin: 0 auto;
  max-width: 768px;

}

.escondebotao{display:none!important}

/* cor barra progresso player */

.v-vlite{--vlite-colorPrimary:#FFFFFF;}

.topo { 


font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin-top: 0px; 
	border-bottom:1px solid #a129fd; 
  background: #181818; 
	color: #FFF; font-size: 12px; text-align: center; 
	height: 50px; line-height: 50px; }

.rodape {
font-family: "Open Sans", Arial, Helvetica, sans-serif;
margin-bottom: 0px; 
border-top:1px solid #a129fd; background: #181818;
text-align: center; 
font-family: arial; margin-top: 50px;
color: #FFF; font-size: 12px;
font-weight: normal;
padding: 10px;
}

.links { color: #FFFFFF; text-decoration: none; }

.botao1 { 
  margin: 0 auto 0;
  padding-top: 20px;
}

.animacao-botao1 {
box-shadow: 0 0 0 0 #fff;
background: linear-gradient(to right,#40e0d0,#ff0080);
/*background:  linear-gradient(30deg, #00ff93, #006eff);*/
font-family: arial; sans-serif;
-webkit-font-smoothing: antialiased;
font-size: 25px;
color: #ffffff; 
font-weight: bold; 
text-decoration: none!important;
padding: 30px;
text-shadow: #000000 0px 1px 0px;
position: relative;
width: 100%;
max-width: 768px;
border: none;
border-radius: 6px;
background-size:cover;
background-repeat: no-repeat;
cursor: pointer;
-webkit-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
-moz-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
-ms-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
}
.animacao-botao1:hover 
{
-webkit-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
-moz-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
-ms-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}