  html, body { 
    font-family: Mulish,sans-serif; color: #FFF; text-align: center; padding: 0px; margin: 0px; background: #06070B; } /* 06070B*/

  .coloridotopo { height: 45px; background-image: linear-gradient(to right,#40e0d0,#ff8c00,#ff0080); }

.coloridorodape { display: none;position: relative; bottom: 0;height: 15px; background: linear-gradient(to right,#40e0d0,#ff8c00,#ff0080); }
/* 90deg, rgba(255,41,118,1) 0%, rgba(153,240,0,1) 51%, rgba(0,203,212,1) 100% */

.titulo {
    margin-bottom: 0;
    color: #fff; /* 383838 */
    font-size: 40px;
    line-height: 40px;
    font-weight: 900;
    text-align: left;
    letter-spacing: -1px;
  }

  .gradiente {
    background-image: linear-gradient(49deg,#ff305c,#7427f1 51%,#00b9c5);
    line-height: 40px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
      margin-bottom: 0;
    font-size: 40px;
    color: #262626;
    font-weight: 900;
    text-align: left;
    letter-spacing: -1px;
  }

  .subtitulo {
     margin-bottom: 0;

    color: #262626;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -.5px;
  }
       .cobreplayer1 { position: absolute; width: 100%; height: 60px; background: transparent; top: 0; z-index: 2; }
        .cobreplayer2 { position: absolute; width: 100%; height: 50px; background: transparent;  bottom: 0; }


.botao-inativo {
background: linear-gradient(268deg, #5a0000, #bf0000, #5a0000, #bf0000);
/*background:  linear-gradient(30deg, #00ff93, #006eff);*/
width: 100%;
z-index: 1;
text-decoration: none;
height: 75px;
line-height: 75px;
box-sizing:border-box;
text-transform:uppercase;
text-align:center;
font-size:24px;
font-weight:bold;
color:#FFF;
border-radius:6px;
box-shadow: 0 0 0 0 #FFF;
-webkit-font-smoothing: antialiased;
background-size:cover;
background-repeat: no-repeat;
cursor: default;
opacity: 0.1;
position: relative;
}


.botao { 
background: linear-gradient(268deg, #5a0000, #bf0000, #5a0000, #bf0000);
/*background:  linear-gradient(30deg, #00ff93, #006eff); linear-gradient(to right,#ff5866,#ff5866) */
z-index: 1000!important;
position: relative;
margin-top: -75px;
width: 100%;
text-decoration: none;
height: 75px;
line-height: 75px;
box-sizing:border-box;
text-transform:uppercase;
text-align:center;
font-size:24px;
font-weight:bold;
color:#FFF;
border-radius:6px;
box-shadow: 0 0 0 0 #ff5866; /* efeito no botao */
-webkit-font-smoothing: antialiased;
background-size:cover;
background-repeat: no-repeat;
cursor: pointer;
-webkit-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
-moz-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
-ms-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
text-decoration: underline;

}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}


.cov,
.covall,
#loadingVideo,

#cfs {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
   border-radius: 8px;
}

#loadingVideo {
  background:none;    
}

#cfs {
  background-image: url(../img/play.png); /*sound*/
  z-index: 20!important;
  background-position: top;
  background-position-x: right;
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
   border-radius: 8px;
}

.cov {
 background-image: url(../img/play.png) !important;   
  z-index: 20!important;
  background-position: top;
  background-position-x: right;
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
cursor: pointer;
   border-radius: 8px;

}

.covall {
  z-index: 10!important;
   border-radius: 8px;
}

.responsive-video {
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
   border-radius: 8px;
}

.responsive-video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
   border-radius: 8px;
}

.envolvevideo { width: 768px; margin-top: 0px; }
.rodape { position: relative; }


@media (max-width: 767px){ /* pra celular */

.botao { width: 95%; }
.botao-inativo { width: 95%; }

.rodape { position:  absolute; bottom: 0; }

.envolvevideo { width: 100%; }
.responsive-video { padding-top: 150%; }
.responsive-video iframe { width: 100%; }

#cfs { 
  background-image: url(../img/play.png); /*sound */
  z-index: 20!important;
  background-position: top;
  background-position-x: right;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);

}

.cov {
  background-image: url(../img/play.png) !important;
  z-index: 20!important;
  background-position: top;
  background-position-x: right;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
background-color: rgba(0, 0, 0, 0.5);

} }

@media (max-width: 767px) {

  .titulo { font-size: 32px;  line-height: 32px; letter-spacing: -1px }
  .gradiente { font-size: 32px;  line-height: 32px; letter-spacing: -1px }
  .subtitulo { font-size: 20px;  line-height: 25px; }
}

/* corta player */

/* video tela cheia 
* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}

*/

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }

@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}

 /*fim corta player */