
body {
background-image: url("./fundo.jpeg");
background-color: rgba(0, 0, 0, 0.6);
background: linear-gradient(to bottom right, #f0f0f2, #f0f0f2);
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: darken;

        margin: 0;
        padding: 0;
        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        
    }
    #conteudo {
        width: 95%;
        margin: 2em 2em 1em 2em;
        /* padding: 2em; */
        background-color: #fdfdff;
        border-radius: 0.5em;
        box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
    }
    a:link, a:visited {
        color: #38488f;
        text-decoration: none;
    }
    @media (max-width: 768px) {
        div {
            margin: 0 auto;
            width: auto;
        }
    }


.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;

}
.videoWrapper iframe {
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main {
  background: transparent;
  max-width: 720px;
  margin: 0 auto;
  padding: 1rem;
}

.a-btn {
      text-decoration: none;
      -webkit-font-smoothing: antialiased;
      margin: 0;
      border: 0; 
      font: inherit; 
      vertical-align: baseline;
      color: #2e82bc; 
      outline: 0; 
      line-height: 1; 
      text-align: center; 
      position:relative!important; display: inline-block!important;
      border-style: solid; 
      width: 100%; padding-left: 0!important; padding-right: 0!important; 
      margin-bottom: 10px; 
      padding: 22px 44px; border-color: #ff5535; border-width: 0px; 
      border-radius: 6px; 
      /* background: linear-gradient(to bottom, #ff6600 0%, #ff5535 100%); */
      box-shadow: 0px 1px 1px 0px #00ff93;
      text-decoration: none!important;

      color:rgba(255,255,255,.9);background:linear-gradient(30deg, #00ff93, #006eff);
    
  animation: pulse 2s infinite;


    }

    .span-btn {
      text-decoration: none;
      -webkit-font-smoothing: antialiased; 
      text-align: center;
      margin: 0; 
      border: 0; 
      font: inherit;
      vertical-align: baseline;
      display: block; 
      position: relative; 
      z-index: 1; 
      padding: 0 15px; 
      white-space: normal; 
      font-size: 25px;
      color: #ffffff; 
        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

      font-weight: bold; 
      text-shadow: #000000 0px 1px 0px;

    }


    .span-btn2 {
      -webkit-font-smoothing: antialiased; 
      text-align: center;
      padding: 0; border: 0;
      font: inherit; 
      vertical-align: baseline; 
      display: block; 
      position: relative;
      z-index: 1; 
      margin: .2em 0 -.5em; 
      font-size: 15px; 
      color: #fff; 
        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

      font-weight: bold; 
      font-style: italic;
      text-shadow: #000000 0px 1px 0px;
    }